# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.manifest
*.spec

# Django
db.sqlite3
/media
/staticfiles

# Virtual environment
venv/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp
*~

# OS-specific
.DS_Store
Thumbs.db
